/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Set base font */
  body {
    font-family: "Montserrat";
  }

  /* light 300, medium 500, bold 700 */
  h1 {
    @apply text-title1 font-medium;
  }

  h2 {
    @apply text-title2 font-medium;
  }

  h3 {
    @apply text-title3;
  }

  h4 {
    @apply text-title4 font-bold;
  }

  /* Subtitle */
  h5 {
    @apply text-subtitle1 font-bold uppercase;
  }

  nav,
  button {
    @apply text-navigation font-bold;
  }

  p {
    @apply text-paragraph;
  }

  label {
    @apply text-formlabel font-bold;
  }
}

@layer components {
  input,
  select {
    @apply px-1 py-0.5;
    @apply border border-black rounded-sm;
    @apply dark:text-black;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
